<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= t('contact.name') %>:</strong>
    <%= @contact.name %>
  </p>

  <p>
    <strong><%= t('contact.email') %>:</strong>
    <%= @contact.email %>
  </p>

  <p>
    <strong><%= t('contact.kind') %>:</strong>
    <%= @contact.kind.description %>
  </p>

  <p>
    <strong><%= t('contact.rmk') %>:</strong>
    <%= @contact.rmk %>
  </p>
  <div class="actions">
    <%= link_to t('buttons.edit'), edit_contact_path(@contact), class: "button" %> |
    <%= link_to t('buttons.back'), contacts_path, class: "button" %>
  </div>
</div>