<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('address.street') %>:</strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= t('address.city') %>:</strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= t('address.state') %>:</strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= t('contact.contact') %>:</strong>
  <%= @address.contact.name %>
</p>

<%= link_to t('buttons.edit'), edit_address_path(@address) %> |
<%= link_to t('buttons.back'), addresses_path %>
